USE [master]
GO
/****** Object:  Database [HospitalManagment]    Script Date: 16.03.2023 01:04:30 ******/
CREATE DATABASE [HospitalManagment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagment', FILENAME = N'C:\deneme\HospitalManagment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalManagment_log', FILENAME = N'C:\deneme\HospitalManagment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagment]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCTOR_FNAME] [varchar](50) NULL,
	[DOCTOR_LNAME] [varchar](50) NULL,
	[DOCTOR_E_MAIL] [varchar](50) NULL,
	[DOCTOR_CONTACT_NUMBER] [bigint] NULL,
	[DEPARTMENT_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL_DEPARTMENT]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL_DEPARTMENT](
	[DEPARTMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PATIENT_FNAME] [varchar](50) NULL,
	[PATIENT_LNAME] [varchar](50) NULL,
	[PATIENT_MEDICINES] [varchar](50) NULL,
	[PATIENT_EMERGENCY_CONTACT_NUMBER] [bigint] NULL,
	[PATIENT_E_MAIL] [varchar](50) NULL,
	[PATIENT_EXAMINATION_ILNESS] [varchar](50) NULL,
	[PATIENT_EXAMINATION_DIAGNOSIS] [varchar](50) NULL,
	[PATIENT_EXAMINATION_GIVEN_MEDICINES] [varchar](50) NULL,
	[DEPARTMENT_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT_LAB_RESULTS]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_LAB_RESULTS](
	[PATIENT_ID] [bigint] NOT NULL,
	[COVID_RESULT] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[HOSPITAL_DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[HOSPITAL_DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[PATIENT_LAB_RESULTS]  WITH CHECK ADD FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
/****** Object:  StoredProcedure [dbo].[DepartDeleteByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  Create PROC [dbo].[DepartDeleteByID]
	@DepartID int
	AS 
	BEGIN 
	
	DELETE FROM HOSPITAL_DEPARTMENT
	WHERE DEPARTMENT_ID = @DepartID
	
	
	END
GO
/****** Object:  StoredProcedure [dbo].[DepartmentCreateOrUpdate]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DepartmentCreateOrUpdate]

@DepartID int,
@DepName varchar(50)
AS 
		DECLARE @max int
		SELECT @max = MAX(DEPARTMENT_ID) from HOSPITAL_DEPARTMENT
		if @max IS NULL 
		SET @max = 0
		DBCC CHECKIDENT ('HOSPITAL_DEPARTMENT', RESEED, @max)

		
BEGIN
IF(@DepartID = 0)
	
	BEGIN
		
	INSERT INTO HOSPITAL_DEPARTMENT(DEPARTMENT_NAME)

	VALUES (@DepName)

	END
ELSE
	BEGIN
	UPDATE HOSPITAL_DEPARTMENT
	SET

	DEPARTMENT_NAME = @DepName
	
	WHERE DEPARTMENT_ID= @DepartID
	END

END
GO
/****** Object:  StoredProcedure [dbo].[DepartViewAll]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		Create PROC [dbo].[DepartViewAll]
AS
	BEGIN
	SELECT * FROM HOSPITAL_DEPARTMENT
	END
GO
/****** Object:  StoredProcedure [dbo].[DepartViewByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[DepartViewByID]
@DepartID int
AS 
	BEGIN 
	SELECT * FROM HOSPITAL_DEPARTMENT
	WHERE DEPARTMENT_ID = @DepartID 
	END
GO
/****** Object:  StoredProcedure [dbo].[DoctorCreateOrUpdate]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DoctorCreateOrUpdate]

@DoctorID int,
@DOCTOR_FNAME varchar(50),
@DOCTOR_LNAME varchar(50),
@DOCTOR_CONTACT_NUMBER bigint,
@DOCTOR_E_MAIL varchar(50),
@DOCTOR_DEPARTMENT_ID bigint
AS

		DECLARE @max int
		SELECT @max = MAX(DOCTOR_ID) from DOCTOR
		if @max IS NULL 
		SET @max = 0
		DBCC CHECKIDENT ('DOCTOR', RESEED, @max)

BEGIN
IF(@DoctorID = 0)
	
	BEGIN
		
	INSERT INTO DOCTOR([DOCTOR_FNAME]
					  ,[DOCTOR_LNAME]
					  ,[DOCTOR_E_MAIL]
					  ,[DOCTOR_CONTACT_NUMBER]
					  ,[DEPARTMENT_ID])
	VALUES(	 @DOCTOR_FNAME
			,@DOCTOR_LNAME
			,@DOCTOR_E_MAIL
			,@DOCTOR_CONTACT_NUMBER
			,@DOCTOR_DEPARTMENT_ID)
	END
ELSE
	BEGIN
	UPDATE DOCTOR
	SET
      [DOCTOR_FNAME] =@DOCTOR_FNAME ,
      [DOCTOR_LNAME] = @DOCTOR_LNAME, 
      [DOCTOR_E_MAIL] = @DOCTOR_E_MAIL, 
      [DOCTOR_CONTACT_NUMBER] = @DOCTOR_CONTACT_NUMBER, 
      [DEPARTMENT_ID] = @DOCTOR_DEPARTMENT_ID
	
	WHERE DOCTOR_ID= @DoctorID
	END

END
GO
/****** Object:  StoredProcedure [dbo].[DoctorDeleteByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[DoctorDeleteByID]
	@DoctorID int
	AS 
	BEGIN 
	
	DELETE FROM DOCTOR
	WHERE DOCTOR_ID = @DoctorId
	
	
	END
GO
/****** Object:  StoredProcedure [dbo].[DoctorViewAll]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[DoctorViewAll]
AS
	BEGIN
	SELECT * FROM DOCTOR Doc
	INNER JOIN HOSPITAL_DEPARTMENT D on D.DEPARTMENT_ID = Doc.DEPARTMENT_ID
	END
GO
/****** Object:  StoredProcedure [dbo].[DoctorViewByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[DoctorViewByID]
@DoctorID int
AS 
	BEGIN 
	SELECT * FROM DOCTOR
	WHERE DOCTOR_ID = @DoctorID 
	END
GO
/****** Object:  StoredProcedure [dbo].[LabCreateResult]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LabCreateResult]
@PatId bigint,
@LabRes nvarchar(5)
AS 
		
BEGIN

	BEGIN

	INSERT INTO PATIENT_LAB_RESULTS(PATIENT_ID,COVID_RESULT)

	VALUES (@PatId,@LabRes)

	END

END
GO
/****** Object:  StoredProcedure [dbo].[LabDeleteById]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LabDeleteById]
	@PatID int
	AS 
	BEGIN 
	
	DELETE FROM PATIENT_LAB_RESULTS
	WHERE PATIENT_ID = @PatID
	
	
	END
GO
/****** Object:  StoredProcedure [dbo].[LabViewAll]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LabViewAll]

AS
	BEGIN
SELECT L.PATIENT_ID, L.COVID_RESULT, P.PATIENT_FNAME, P.PATIENT_LNAME, P.DEPARTMENT_ID FROM PATIENT_LAB_RESULTS AS L
INNER JOIN PATIENT P on P.PATIENT_ID = L.PATIENT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[LabViewById]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LabViewById]
@PatID int
AS 
	BEGIN 
	SELECT * FROM PATIENT_LAB_RESULTS
	WHERE PATIENT_ID = @PatID 
	END
GO
/****** Object:  StoredProcedure [dbo].[PatientCreateOrUpdate]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PatientCreateOrUpdate]

@PatientID int,
@PATIENT_FNAME varchar(50),
@PATIENT_LNAME varchar(50),
@PATIENT_MEDICINES varchar(50),
@PATIENT_EMERGENCY_CONTACT_NUMBER bigint,
@E_MAIL varchar(50),
@EXAMINATION_ILNESS varchar(50),
@EXAMINATION_DIAGNOSIS varchar(50),
@EXAMINATION_GIVEN_MEDICINES varchar(50),
@DEPARTMENT_ID bigint
AS

		DECLARE @max int
		SELECT @max = MAX(PATIENT_ID) from PATIENT
		if @max IS NULL
		SET @max =0
		DBCC CHECKIDENT ('PATIENT', RESEED, @max)

BEGIN
IF(@PatientID = 0)
	
	BEGIN
		
	INSERT INTO PATIENT([PATIENT_FNAME]
						,[PATIENT_LNAME]
						,[PATIENT_MEDICINES]
						,[PATIENT_EMERGENCY_CONTACT_NUMBER]
						,[PATIENT_E_MAIL]
						,[PATIENT_EXAMINATION_ILNESS]
						,[PATIENT_EXAMINATION_DIAGNOSIS]
						,[PATIENT_EXAMINATION_GIVEN_MEDICINES]
						,[DEPARTMENT_ID])
	VALUES(  @PATIENT_FNAME
			,@PATIENT_LNAME
			,@PATIENT_MEDICINES
			,@PATIENT_EMERGENCY_CONTACT_NUMBER
			,@E_MAIL
			,@EXAMINATION_ILNESS
			,@EXAMINATION_DIAGNOSIS
			,@EXAMINATION_GIVEN_MEDICINES
			,@DEPARTMENT_ID)
	END
ELSE
	BEGIN
	UPDATE PATIENT
	SET
		[PATIENT_FNAME] = @PATIENT_FNAME,
		[PATIENT_LNAME] = @PATIENT_LNAME,
		[PATIENT_MEDICINES] = @PATIENT_MEDICINES,
		[PATIENT_EMERGENCY_CONTACT_NUMBER] = @PATIENT_EMERGENCY_CONTACT_NUMBER,
		[PATIENT_E_MAIL] = @E_MAIL,
		[PATIENT_EXAMINATION_ILNESS] = @EXAMINATION_ILNESS,
		[PATIENT_EXAMINATION_DIAGNOSIS] = @EXAMINATION_DIAGNOSIS,
		[PATIENT_EXAMINATION_GIVEN_MEDICINES] = @EXAMINATION_GIVEN_MEDICINES,
		[DEPARTMENT_ID] = @DEPARTMENT_ID
	
	WHERE PATIENT_ID= @PatientID
	END

END
GO
/****** Object:  StoredProcedure [dbo].[PatientDeleteByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PatientDeleteByID]
	@PatientID int
AS 
	BEGIN 
	
	DELETE FROM PATIENT
	WHERE PATIENT_ID = @PatientID

	
	END
GO
/****** Object:  StoredProcedure [dbo].[PatientViewAll]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PatientViewAll]
AS
	BEGIN
	SELECT * FROM PATIENT
	END
GO
/****** Object:  StoredProcedure [dbo].[PatientViewByID]    Script Date: 16.03.2023 01:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PatientViewByID]
@PatientID int
AS 
	BEGIN 
	SELECT * FROM PATIENT
	WHERE PATIENT_ID = @PatientID 
	END
GO
USE [master]
GO
