.auto-style2 {
width: 456px;
height: 192px;
}

.auto-style4 {
width: 123px;
}

.auto-style5 {
width: 172px;
}

body {
    background-color: lightblue;
    font-family: Arial;
}

a {
    color: red;
}

.baslik {
    color: white;
    text-decoration: underline;
}


.auto-style8 {
width: 153px;
height: 182px;
}

.auto-style9 {
width: 172px;
height: 182px;
}body {
}
